@model List<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Count == 0)
{
    <p>No customers found</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Membership type</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var c in Model)
        {
            <tr>
                <td>@Html.ActionLink(c.Name, "Edit", "Customers", new { id = c.Id }, null)</td>
                <td>@c.MembershipType.Description</td>
                <td><button data-customer-id="@c.Id" class="btn-link js-delete">Delete</button></td>
            </tr>
        }
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            //using datatables (to get built-in sort and filter)
            $("#customers").DataTable();

            //here we're hooking the handler on the table rather than one-per-row (less memory use)
            $("#customers").on("click", ".js-delete", function () {
                var thisDeleteButton = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + thisDeleteButton.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                thisDeleteButton.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>    
    
}